[DIRECTORIES]
in_dir = ./reads
out_dir = ./output
ref_dir = ./ref
tmp_dir = ./tmp
report_dir = ./output/reports

[PARAM:INPUT]
flag_type = suffix
read1_flag = _1
read2_flag = _2

[PARAM:SLURM]
email = test.id@gmail.com
username = test.id
partition = [batch,debug]

[MODULES]
fastp = 0.22.0

[OPTIONS:FASTP]
thread = 6
detect_adapter_for_pe = TRUE
dont_eval_duplication = TRUE
qualified_quality_phred = 20
length_required = 50